<div class="col-md-12">
    <div class="login_page">
        <div class="form">
            <div class="login_form" [formGroup]="logForm">
                 <input type="text" placeholder="Email" formControlName="email">
                 <input type="password" placeholder="password" formControlName="password"> 
                 <button (click)="login()">login</button>
                <p class="message">Not Registered? <a routerLink="/auth/register">Register Now!</a></p>
                <lib-inputalart></lib-inputalart>
            </div>
        </div>
    </div>
</div>



